body {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.seccion__principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.imagen__sanguche {
    width: 50%;
    height: 100vh;
}

.imagen__sanguche__img {
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 6em;
    position: absolute;
    margin: 0;
    padding: 0.4em;
    top: 3.5em;
    left: 3em;
    font-family: 'Josefin Slab', sans-serif;
    border-left-style: solid;
    border-color: rgb(213, 175, 22);
}

h2 {
    padding: 1em;
    font-size: 2em;
    position: absolute;
    margin: 0;
    bottom: 18em;
    left: 9.6em;
    color: black;
}

h3 {
    position: relative;
    margin: 0;
    top: 1.2em;
    left: 2em;
    font-size: 5em;
    font-family: 'Josefin Slab', sans-serif;
    border-left-style: solid;
    border-color: rgb(213, 175, 22);
    padding: 0.4em;
}

#btn-iniciar {
    width: 10%;
    height: 5vh;
    position: absolute;
    border-radius: 2em;
    left: 16em;
    bottom: 20em;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.iniciar__compra {
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar__compra__img {
    width: 100%;
    height: 100vh;
}

/* .modal__piola {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: row;
    visibility: hidden;
    background-color: white;
    top: 0em;
}

.modal__piola--modificado {
    display: flex;
    visibility: visible;
} */

.modal__contenedor {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: row;
    visibility: hidden;
    background-color: white;
    top: 0em;
}

.modal__contenedor--modificado {
    visibility: visible;
    display: flex;
}

.seccion__pan {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}

.seccion__resumen,
.seccion__proteina,
.seccion__vegetales,
.seccion__aderezo,
.seccion__extra,
.seccion__datos {
    width: 50%;
    height: 100vh;
    display: none;
    flex-direction: column;

    justify-content: space-around;
    visibility: hidden;
}

.div__pedido {
    width: 50%;
    background-color: white;
    position: absolute;
    right: 0px;
    height: 100vh;
    display: none;
    visibility: hidden;
}

.div__pedido--modificado {
    display: flex;
    visibility: visible;
}

#form__btn__pan {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    justify-items: space-evenly;
}

.seccion__proteina--modificado,
.seccion__vegetales--modificado,
.seccion__aderezo--modificado,
.seccion__extra--modificado,
.seccion__datos--modificado,
.seccion__resumen--modifcado {
    display: flex;
    visibility: visible;
}

.seccion__pan--modificado {
    display: none;
    visibility: hidden;
}

.seccion__resumen--modificado {
    display: flex;
    visibility: visible;
}

.div__cerrar {
    background-color: blue;
    width: 2%;
    height: auto;
    position: absolute;
    left: 98%;
    z-index: 2;
    cursor: pointer;
    top: 0%;
}

.div__pedido__img--3 {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

.div__pedido__img--3__modificado{
    display: flex;
    visibility: visible;
}

.div__pedido__img--4,
.div__pedido__img--5,
.div__pedido__img--6,
.div__pedido__img--7,
.div__pedido__img--8,
.div__pedido__img--9 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.div__pedido__img--4__modificado,
.div__pedido__img--5__modificado,
.div__pedido__img--6__modificado,
.div__pedido__img--7__modificado,
.div__pedido__img--8__modificado,
.div__pedido__img--9__modificado {
    display: flex;
    visibility: visible;
}

.seccion__finalizado {
    width: 100%;
    height: 100vh;
    display: none;
    visibility: hidden;
}

.seccion__finalizado--modificado {
    display: flex;
    flex-direction: row;
    visibility: visible;
}

.div__finalizado {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.opcion__estilos {
    font-size: 2em;
    position: relative;
    left: 6em;
    bottom: 10.5em;
}

.btn__siguiente {
    width: 15%;
    height: 5vh;
    position: relative;
    border-radius: 2em;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin: 0 4em;
}

.btn__cancelar {
    width: 15%;
    height: 5vh;
    position: relative;
    border-radius: 2em;
    border-color: black;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.div__btn__pan,
.div__btn__proteina,
.div__btn__vegetales,
.div__btn__aderezo,
.div__btn__extra,
.div__btn__datos,
.div__btn__resumen {
    position: relative;
    bottom: 13em;
    left: 12.5em;
}

.div__datos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    position: relative;
    left: 11em;
    bottom: 17em;
    margin: 0;
}

.telefono__input,
.calle__input,
.altura__input,
.nombre__input {
    margin: 0.5em 1em;
    height: 3vh;
    border-radius: 2em;
    padding: 0.2em 1em;
    border-style: solid;
}

.secciones__img {
    width: 50%;
    height: 100vh;
    position: absolute;
}