body {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.seccion__principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.imagen__sanguche {
    width: 50%;
    height: 100vh;
}

.imagen__sanguche__img {
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 6em;
    position: absolute;
    margin: 0;
    padding: 0.4em;
    top: 3.5em;
    left: 3em;
    font-family: 'Josefin Slab', sans-serif;
    border-left-style: solid;
    border-color: rgb(213, 175, 22);
}

h3 {
    padding: 1em;
    font-size: 2em;
    position: absolute;
    margin: 0;
    bottom: 18em;
    left: 9.6em;
}

#btn-iniciar {
    width: 10%;
    height: 5vh;
    position: absolute;
    border-radius: 2em;
    left: 16em;
    bottom: 20em;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.iniciar__compra {
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar__compra__img {
    width: 100%;
    height: 100vh;
}

.modal__piola {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: row;
    visibility: hidden;
    background-color: white;
    top: 0em;
}

.modal__piola--modificado {
    display: flex;
    visibility: visible;
}

.modal__contenedor {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    background-color: violet;
}

.modal__contenedor--modificado {
    visibility: visible;
}

.seccion__pan {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.seccion__resumen,
.seccion__proteina,
.seccion__vegetales,
.seccion__aderezo,
.seccion__extra,
.seccion__datos {
    width: 100%;
    height: 80vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    visibility: hidden;
}

.seccion__pan h3 {
    font-size: 5em;
    text-align: center;
}

.div__pedido {
    width: 50%;
    background-color: teal;
    position: absolute;
    right: 0px;
    height: 100vh;
}

.div__pedido--modificado {
    display: none;
}


.div__radio__pan {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form__btn__pan {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    justify-items: space-evenly;
}

.div__btn__pan {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 1px;
}

.seccion__proteina--modificado,
.seccion__vegetales--modificado,
.seccion__aderezo--modificado,
.seccion__extra--modificado,
.seccion__datos--modificado,
.seccion__resumen--modifcado {
    display: flex;
    visibility: visible;
}

.seccion__pan--modificado {
    display: none;
    visibility: hidden;
}


.seccion__resumen--modificado {
    display: flex;
    visibility: visible;
}

.div__cerrar {
    background-color: blue;
    width: 2%;
    height: auto;
    position: absolute;
    left: 98%;
    z-index: 2;
    cursor: pointer;
    top: 0%;
}

.div__pedido__img--3 {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

.div__pedido__img--4 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.div__pedido__img--5,
.div__pedido__img--6,
.div__pedido__img--7,
.div__pedido__img--8 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.div__pedido__img--4__modificado {
    display: flex;
    visibility: visible;
}

.div__pedido__img--5__modificado,
.div__pedido__img--6__modificado,
.div__pedido__img--7__modificado,
.div__pedido__img--8__modificado {
    display: flex;
    visibility: visible;
}

.div__pedido__img--3__modificado{
    display: flex;
    visibility: visible;
}

.seccion__finalizado {
    width: 100%;
    height: 100vh;
    display: none;
    visibility: hidden;
}

.seccion__finalizado--modificado {
    display: flex;
    flex-direction: row;
    visibility: visible;
}

.div__finalizado {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}